@font-face {
  font-family: "Roboto Bold";
  src: url("../../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../../fonts/Roboto-Medium.ttf");
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-revers {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
  -webkit-box-shadow: 0 0 0 1px green;
          box-shadow: 0 0 0 1px green;
}

.col {
  margin: 0 12px;
}

.row-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
  -webkit-box-shadow: 0 0 0 1px green;
          box-shadow: 0 0 0 1px green;
}

.col-news {
  margin: 0 25px;
}

.col-50-news {
  width: calc(50% - 50px);
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: calc(50% - 24px);
}

.col-30 {
  width: calc((100% / 3) - 24px);
}

.tt-uppercase {
  text-transform: uppercase;
}

.font-s-10 {
  font-size: 10px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-65 {
  margin-bottom: 65px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.tc-orange {
  color: #F89202;
}

.tc-dark-gray {
  color: #CACACA;
}

.width-100 {
  width: 100%;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #CACACA;
  background-color: #08020D;
}

.h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 800;
  text-transform: uppercase;
}

.h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.h3-news {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 0 1px #4c00ff;
          box-shadow: 0 0 0 1px #4c00ff;
}

.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 -12px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 79px;
}

.header li {
  font-size: 10px;
  list-style: none;
  margin: 0 12px;
}

.header p {
  display: inline-block;
  white-space: nowrap;
}

.header img {
  width: 24px;
  height: 24px;
}

.logo {
  margin-right: 79px;
}

.form-find input {
  width: 248px;
  height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  font-size: 13.3px;
  background-color: #3C3B3D;
  border: none;
  float: right;
}

.description-image {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

.description {
  text-align: center;
  padding: 200px 0;
}

.description p {
  font-size: 16px;
}

.form-description {
  max-width: 570px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-description input {
  min-width: 270px;
  min-height: 50px;
  font-size: 14px;
  margin-top: 1.5rem;
  color: white;
  padding-left: 20px;
  border: 2px solid #CACACA;
  border-radius: 3px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-description button {
  background: #34C176;
}

.btn {
  width: 100%;
  border-radius: 5px;
  padding: 20px 30px;
  border: none;
  margin-top: 1.5rem;
}

.btn-app {
  display: inline-block;
  background-color: #95390C;
  padding: 17px 40px 17px 40px;
  margin-top: 16px;
  border-radius: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
}

.page-pricing {
  padding-top: 100px;
  padding-bottom: 50px;
}

.page-pricing h2 {
  text-align: center;
  padding-bottom: 50px;
}

.pricing-item {
  display: inline-block;
  padding: 0 1.5rem;
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 374px;
      flex-basis: 374px;
  margin-bottom: 24px;
}

.pricing-item h3 {
  padding-bottom: 200px;
  padding-top: 24px;
  text-align: center;
}

.pricing-item button {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.flex-pricing-items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pricing-value {
  font-size: 64px;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
}

.pricing-value span {
  font-size: 32px;
  vertical-align: super;
}

.pricing-footer {
  font-size: 12.8px;
  text-align: center;
  padding: 64px 0;
}

.text-pricing-items {
  font-size: 16px;
  text-align: center;
  padding-top: 50px;
}

.subscribe-1 {
  background-image: url(../images/subscribe_1.png);
  background-position: center;
  background-size: cover;
}

.subscribe-2 {
  background-image: url(../images/subscribe_2.png);
  background-position: center;
  background-size: cover;
}

.subscribe-3 {
  background-image: url(../images/subscribe_3.png);
  background-position: center;
  background-size: cover;
}

@media (max-width: 576px) {
  .pricing-item {
    width: 100%;
  }
  .h2 {
    padding-top: 100px;
  }
  .col {
    margin-left: 0;
    margin-right: 0;
  }
}

.page-news {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.news-autor p {
  display: inline;
}

.news-btn {
  display: inline-block;
  border: 1px solid #CACACA;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 30px 16px 30px;
  margin-top: 48px;
  text-decoration: none;
}

.page-app {
  padding-bottom: 100px;
}

.page-app p {
  font-size: 16px;
}

.img-app {
  display: block;
  margin: auto;
}

.min-width-374 {
  min-width: 374px;
}

.cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header input {
    margin: 18px 0;
  }
}

@media (max-width: 576px) {
  .h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .container {
    max-width: 414px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header p {
    font-size: 11px;
  }
  .header nav {
    margin-top: 18px;
  }
  .header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header li {
    font-size: 11px;
  }
  .form-find {
    width: calc(100% - 40px);
  }
  .form-find input {
    width: 100%;
  }
  .form-description input {
    width: 100%;
  }
  .news-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-item .width-100 {
    width: 100%;
  }
  .news-item .h3 {
    margin-top: 50px;
  }
}
