.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-revers {
  flex-direction: column-reverse;
}
.align-items-center {
  align-items: center;
}
.row {
  display: flex;
  margin: 0 -12px;
  box-shadow: 0 0 0 1px green;
}
.col {
  margin: 0 12px;
}
.row-news {
  display: flex;
  margin: 0 -25px;
  box-shadow: 0 0 0 1px green;
}
.col-news {
  margin: 0 25px;
}
.col-50-news {
  width: calc(50% - 50px);
}
.col-100 {
  width: 100%;
}
.col-50 {
  width: calc(50% - 24px);
}
.col-30 {
  width: calc((100% / 3) - 24px);
}
.tt-uppercase {
  text-transform: uppercase;
}
.font-s-10 {
  font-size: 10px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-65 {
  margin-bottom: 65px;
}
.ml-16 {
  margin-left: 16px;
}
.mr-16 {
  margin-right: 16px;
}
.white-space-nowrap {
  white-space: nowrap;
}
.text-align-left {
  text-align: left;
}
.tc-orange {
  color: $orange;
}
.tc-dark-gray {
  color: $dark-gray;
}
.width-100 {
  width: 100%;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
