@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
