.news {
  margin-top: 48px;
  // width: 100%;
}
.news-item {
  flex-wrap: wrap;
  align-items: flex-start;
  box-shadow: 0 0 0 1px yellow;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}
.news-body {
  text-align: left;

  &__title {
    font-size: 30px;
    line-height: 45px;
    font-weight: normal;
    @media (max-width: 576px) {
      margin-top: 50px;
    }
  }

  // .news-body__text

  &__text {
    margin-top: 30px;
    font-size: 16px;
    color: $dark-gray;
  }

  // .news-body__footer

  &__footer {
  }
  // .news-body__btn

  &__btn {
    padding: 16px 31px;
    margin-top: 48px;
    border: 1px solid white;
    text-transform: uppercase;
  }
}
.news-about {
  display: flex;
  margin-top: 24px;
  font-size: 12px;

  &__img {
    width: 19px;
    height: 19px;
  }

  // .news-about__text

  &__text {
    color: $orange;
    text-transform: uppercase;
    margin: 0 16px;
  }

  // .news-about__date

  &__date {
    color: $dark-gray;
  }
}
