.page-pricing {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;

  & h2 {
    text-align: center;
    padding-bottom: 50px;
  }
}
.pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  min-width: 374px;
  margin-bottom: 24px;
  box-shadow: 0 0 0 1px green;
  & h3 {
    padding-bottom: 200px;
    padding-top: 24px;
    text-align: center;
  }
  & button {
    background: transparent;
    color: white;
    border: 1px solid white;
  }
}
.flex-pricing-items {
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pricing-value {
  font-size: 64px;
  @include line-height(100%);
  font-weight: map-get($font-weights, normal);
  text-align: center;
  & span {
    font-size: 32px;
    vertical-align: super;
  }
}
.pricing-footer {
  font-size: 12.8px;
  text-align: center;
  padding: 64px 0;
}
.text-pricing-items {
  font-size: 16px;
  text-align: center;
  padding-top: 50px;
}
.subscribe-1 {
  background-image: url(../images/subscribe_1.png);
  background-position: center;
  background-size: cover;
}
.subscribe-2 {
  background-image: url(../images/subscribe_2.png);
  background-position: center;
  background-size: cover;
}
.subscribe-3 {
  background-image: url(../images/subscribe_3.png);
  background-position: center;
  background-size: cover;
}
@media (max-width: 576px) {
  .pricing-item {
    width: 100%;
  }
  .h2 {
    padding-top: 100px;
  }
  .col {
    margin-left: 0;
    margin-right: 0;
  }
}
