// переменные цвета

$black: #08020D;
$gray: #E0E0E0;
$dark-gray: #CACACA;
$dark: #3C3B3D;
$green: #34C176;
$orange: #F89202;
$purple: #5328A1;
$red: #95390C;

// переменные текста

$main-font: ('Roboto Bold': 'Roboto-Bold.ttf', 'Roboto': 'Roboto-Regular.ttf', 'Roboto Medium': 'Roboto-Medium.ttf');
$font-weights: (light: 200, normal: 400, medium: 500, bold: 800);